@media (max-width: 880px) {
    .side-left h1 {
        font-size: 3.8rem;
        left: 6%;
      }
    
      .side-left .illustration {
        max-width: 400px;
      }

}

@media (max-width: 768px) {
    .wrapper {
        flex-direction: column;
      }

    .side-left {
        display: none;
    }

    .input-group {
    position: relative;
    margin-bottom: 1.5rem; /* Adiciona espaçamento abaixo de cada input-group */
    }
  }
  